.info {
  padding: 40px 30px;
  color: #fff;
  background-color: #9b7355;
  background-image: url(../img/bg-3-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  .title-3 {
    color: @yellow;
    text-align: left;
  }
}
