.social {
  .reset();
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  
  li {
    margin-left: 22px;
    margin-right: 22px;
  }
  
  &--white {
    .social__link {
      &--vk {
        background-image: url(../img/vk-logo-white.svg);
      }
      &--fb {
        background-image: url(../img/facebook-logo-white.svg);
      }
      &--in {
        background-image: url(../img/instagram-logo-white.svg);
      }
    }
  }
}

.social__link {
  display: block;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
  .transition();
  
  &:hover,
  &:active {
    opacity: 0.7;
    .transition();
  }
  
  &--vk {
    background-image: url(../img/vk-logo.svg);
    background-size: 22px auto;
  }
  
  &--fb {
    background-image: url(../img/facebook-logo.svg);
    background-size: 19px auto;
  }
  
  &--in {
    background-image: url(../img/instagram-logo.svg);
    background-size: 19px auto;
  }
}
